---
import Main from "../../layouts/main.astro";
---

<Main title="Community Pages">
  <p>
    Welcome to the community pages section of the wiki! Here you can find
    guides, community mods, and other things
  </p>
  <p>
    If you want to add to this section, follow this <a
      href="/contributing#writing-a-community-page">guide</a
    >
  </p>
  <h2>Pinned Pages</h2>
  <h2>Recent Pages</h2>
</Main>
