---
import DevWeapon from "@components/article/DevWeapon.svelte";
import Stub from "@components/article/Stub.svelte";
import Empty from "@components/article/Empty.svelte";
import Main from "@layouts/main.astro";
import type { ObjectDefinition } from "@suroi/common/src/utils/objectDefinitions";
import { getEntry, type ContentCollectionKey } from "astro:content";
import Event from "@components/article/Event.svelte";

interface Props {
  objects: ObjectDefinition[];
  content: ContentCollectionKey;
  Sidebar: Function;
}

const { id } = Astro.params;
const { objects, content, Sidebar } = Astro.props;

const obj = objects.find((o) => o.idString === id);

if (!obj) return;

const article = await getEntry(content, obj.idString);
const rendered = await article?.render();
---

<Main title={obj.name} collection={content} idString={obj.idString}>
  <div class="flex flex-col-reverse gap-4 lg:grid grid-cols-8">
    <div
      class="block flex-1 col-span-5 prose prose-invert print:mt-4 !font-sans"
    >
      {article?.data.devWeapon && <DevWeapon/>}
      {article?.data.stub && <Stub/>}
      {article?.data.event && <Event/>}
      {rendered?.Content ? <rendered.Content /> : <Empty />}
    </div>
    <Sidebar obj={obj} />
  </div>
</Main>
