---
import Main from "@layouts/main.astro";
import { ArmorType, Armors } from "@suroi/common/src/definitions/armors";
import CombinedArmor from "@components/tables/CombinedArmor.svelte";

let Helmets = [];

for (const armor of Armors) {
  if (armor.armorType === ArmorType.Helmet) {
    Helmets.push(armor);
  }
}

let Vests = [];
for (const armor of Armors) {
  if (armor.armorType === ArmorType.Vest) {
    Vests.push(armor);
  }
}
---

<Main title="Equipment">
  <p>
    Equipment are items that a player can pick up to gain more armor or more
    storage space to carry items like consumables and ammo.
  </p>

  <h2 id="armor">Armor</h2>
  <p>
    Armor does not increase a player's health. It only decreases the amount of
    damage a player recieves (with the exception of gas, which ignores armor)
  </p>

  <h3 id="helmets">Helmets</h3>
  <p>
    Helmets are items that it put on top of a player's head. They generally have
    less damage reduction than <a href="#vests">vests</a>.
  </p>
  <h3 id="vests">Vests</h3>
  <p>
    Vests are equipment worn around a player's body. They generally have more
    damage reduction than <a href="#helmets">helmets</a>.
  </p>
  <h3 id="combined">Armor stats</h3>
  <p>
    This is a table where all the armor stats are. Damage reduction is additive,
    meaning that the damage reduction of the helmet and vest is added. DR is
    damage reduction and EHP is effective hit points.
  </p>
  <CombinedArmor />

  <h2 id="backpacks">
    Backpacks
  </h2>
  <p>
    Equipment that allows a player to hold more items, which are currently ammo and <a href="/consumables">consumables</a>.
  </p>
  <Backpacks />
</Main>
