---
import SectionItem from "./SectionItem.astro";

interface Props {
  name?: string;
  value: string;
  mono?: boolean;
  abbr?: string;
}

const { name, value, mono = false, abbr } = Astro.props;
---

<SectionItem>
  <span>
    {
      name && (
        <b>
          {abbr ? (
            <abbr class="cursor-help" title={abbr}>
              {name + ":"}
            </abbr>
          ) : (
            name + ":"
          )}
        </b>
      )
    }
    <span class={mono ? "font-mono bg-muted px-2" : "font-sans"}>
      {value}
    </span>
  </span>
</SectionItem>
