---
import { getCollection, getEntries, getEntry } from "astro:content";
import Main from "../../../layouts/main.astro";
import { Guns } from "../../../../vendor/suroi/common/src/definitions/guns";
import GunSidebar from "../../../components/sidebars/GunSidebar.svelte";

export async function getStaticPaths() {
  const articles = await getCollection("guns");
  return articles.map(article => ({
    params: { gunID: article.slug}, props: { article },
  }));
}

const { gunID } = Astro.params;


const { article } = Astro.props
const { Content } = await article.render();

let Gun;

for (const gun of Guns) {
  if (gunID == gun.idString) {
    Gun = gun;
    break;
  }
}
---

<Main title={Gun?.name}>
  <div class="flex flex-col-reverse gap-4 sm:flex-row">
    <div class="block">
      <Content />
    </div>
    <GunSidebar gun={Gun}>lol</GunSidebar>
  </div>
</Main>
