---
import { getEntry } from "astro:content";
import Main from "../../../layouts/main.astro";
import { Guns } from "../../../../vendor/suroi/common/src/definitions/guns";
import GunSidebar from "../../../components/sidebars/GunSidebar.svelte";

export function getStaticPaths() {
  let paths: any[] = [];
  for (const gun of Guns) {
    paths.push({ params: { gunID: gun.idString } });
  }
  return paths;
}

const { gunID } = Astro.params;

//const { article } = await getEntry('weapons', 'guns/' + gunID) ?? 0;
//const { Content } = await article.render();

let Gun;

for (const gun of Guns) {
  if (gunID == gun.idString) {
    Gun = gun;
    break;
  }
}
---

<Main title={Gun?.name}>
  <div class="flex flex-col-reverse sm:flex-row">
    <!--<Content />-->
    <p>pee</p>
    <GunSidebar gun={Gun}>lol</GunSidebar>
  </div>
</Main>
