---
import { getEntry } from "astro:content";
import Main from "../../../layouts/main.astro";
import { Guns } from "../../../../vendor/suroi/common/src/definitions/guns";
import { render } from "svelte/server";

export function getStaticPaths() {
  let paths: any[] = [];
  for (const gun of Guns) {
    paths.push({ params: { weaponID: gun.idString } });
  }
  return paths;
}

const { weaponID } = Astro.params;

const { article } = await getEntry('weapons', 'guns', weaponID);
const { Content } = await article.render();

let Gun;

for (const gun of Guns) {
  if (weaponID == gun) {
    Gun = gun;
    break;
  }
}
---

<Main title={Gun.name}>
  <Content />
</Main>
