---
import CardLink from "@components/CardLink.svelte";
import type { ObjectDefinition } from "@suroi/common/src/utils/objectDefinitions";

interface Props {
  objects: ObjectDefinition[];
  path: string;
  imgPath: string;
  variated?: boolean;
}

const { objects, path, imgPath, variated } = Astro.props;
---

<!-- ** -->
<!-- This file handles turning an array of ObjectDefintion into a grid of CardLinks. -->
<!-- ** -->
<div
  class="flex flex-col gap-4 md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  {
    objects.map((obj) => (
      <CardLink
        title={obj.name}
        description={obj.idString}
        url={path + obj.idString}
        image={
          `../../../vendor/suroi/client/public/img/${imgPath}/` +
          obj.idString + (variated && "variations" in obj && obj.variations ? `_1` : "") +
          ".svg"
        }
      />
    ))
  }
</div>
