---
import type { GetStaticPaths } from "astro";
import Main from "src/layouts/main.astro";

import { HealingItems } from "@suroi/common/src/definitions/healingItems";

export function getStaticPaths() {
  let paths: any[] = [];

  HealingItems.map((consumable) => paths.push(
    {params: {consumable: consumable.idString}}
    ));

  return paths;
}

const { consumable } = Astro.params;
---

<Main title="lol"></Main>
